body{
    display:flex;
    justify-content: center;
    align-items: center;

}

#snacks{
    border-color: lightgrey;
    background-color: lightgrey;
    display: flex;
    border-style: outset;
}